{
  "TOKEN": "Njg0OTA3NTY0MjI3NjI1MDkw.XmA74A.lOVXTb0SG6tV7-e-tPdOmTAg2N8",
  "YOUTUBE_API_KEY": "",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false
}
